- el-eq ε ⊦ plus = λ (λ (ℕ-elim (☐₀[↑]) (S ☐₀) ☐₀)) : ℕ → ℕ → ℕ
- el-eq ε ᐅ ℕ ⊦ ℕ-elim ☐₀ (S ☐₀) Z = ☐₀ : ℕ
- el-eq ε ᐅ ℕ ⊦ (plus ☐₀[↑] ☐₀)[·, ☐₀, Z] = ☐₀ : ℕ
