- el-wf ε ⊦ vect[·] : ℕ → 𝕌 → 𝕌
- el-wf ε ᐅ A:𝕌 ⊦ vectZ[·, A] : (vect[·] Z A) ≡ 𝟙 ∈ 𝕌
- el-wf ε ᐅ n:ℕ ᐅ A:𝕌 ⊦ vectS[·, n, A] : (vect[·] (S n) A) ≡ (A ⨯ vect[·] n A) ∈ 𝕌
