- ty-wf ε ⊦ ℕ / 𝟙
- el-eq ε ⊦ class Z ≐ class (S Z) : ℕ / 𝟙
- el-wf ε ⊦ quot-elim Z (class Z) : ℕ
- el-eq ε ⊦ quot-elim Z (class Z) ≐ Z : ℕ
- el-eq ε ⊦ class Z ≐ class Z : ℕ / 𝟙
