- el-wf ε ⊦ vect[·] : ℕ → 𝕌 → 𝕌
- el-wf ε ᐅ 𝕌 ⊦ vectZ[·, ☐₀] : (vect[·] Z ☐₀) ≡ 𝟙 ∈ 𝕌
- el-wf ε ᐅ ℕ ᐅ 𝕌 ⊦ vectS[·, ☐₁, ☐₀] : (vect[·] (S ☐₁) ☐₀) ≡ (☐₀ ⨯ vect[·] ☐₂ ☐₁) ∈ 𝕌
