- el-wf ε ⊦ plus[·] : ℕ → ℕ → ℕ
- el-wf ε ᐅ ℕ ⊦ plusZeroId[·, ☐₀] : (plus[·] ☐₀ Z) ≡ ☐₀ ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ plusSucId[·, ☐₁, ☐₀] : (plus[·] ☐₁ (S ☐₀)) ≡ (S (plus[·] ☐₁ ☐₀)) ∈ ℕ
- el-wf ε ᐅ ℕ ⊦ zeroPlusId[·, ☐₀] : (plus[·] Z ☐₀) ≡ ☐₀ ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ sucPlus[·, ☐₁, ☐₀] : (plus[·] (S ☐₁) ☐₀) ≡ (S (plus[·] ☐₁ ☐₀)) ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ plusComm[·, ☐₁, ☐₀] : (plus[·] ☐₀ ☐₁) ≡ (plus[·] ☐₁ ☐₀) ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ᐅ ℕ ⊦ plusAssoc[·, ☐₂, ☐₁, ☐₀] : (plus[·] (plus[·] ☐₂ ☐₁) ☐₀) ≡ (plus[·] ☐₂ (plus[·] ☐₁ ☐₀)) ∈ ℕ
