- el-wf ε ⊦ plus[·] : ℕ → ℕ → ℕ
- el-wf ε ᐅ ℕ ⊦ plusZeroId[·, ☐₀] : (plus[·] ☐₀ Z) ≡ ☐₀ ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ plusSucId[·, ☐₁, ☐₀] : (plus[·] ☐₁ (S ☐₀)) ≡ (S (plus[·] ☐₁ ☐₀)) ∈ ℕ
- el-wf ε ᐅ ℕ ⊦ zeroPlusId[·, ☐₀] : (plus[·] Z ☐₀) ≡ ☐₀ ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ sucPlus[·, ☐₁, ☐₀] : (plus[·] (S ☐₁) ☐₀) ≡ (S (plus[·] ☐₁ ☐₀)) ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ⊦ plusComm[·, ☐₁, ☐₀] : (plus[·] ☐₀ ☐₁) ≡ (plus[·] ☐₁ ☐₀) ∈ ℕ
- el-wf ε ᐅ ℕ ᐅ ℕ ᐅ ℕ ⊦ plusAssoc[·, ☐₂, ☐₁, ☐₀] : (plus[·] (plus[·] ☐₂ ☐₁) ☐₀) ≡ (plus[·] ☐₂ (plus[·] ☐₁ ☐₀)) ∈ ℕ
- el-wf ε ⊦ vect[·] : ℕ → 𝕌 → 𝕌
- el-wf ε ᐅ 𝕌 ⊦ vectZ[·, ☐₀] : (vect[·] Z ☐₀) ≡ 𝟙 ∈ 𝕌
- el-wf ε ᐅ ℕ ᐅ 𝕌 ⊦ vectS[·, ☐₁, ☐₀] : (vect[·] (S ☐₁) ☐₀) ≡ (☐₀ ⨯ vect[·] ☐₂ ☐₁) ∈ 𝕌
- el-wf ε ⊦ vappend[·] : ℕ → 𝕌 → ℕ → El (vect[·] ☐₂ ☐₁) → El (vect[·] ☐₁ ☐₂) → El (vect[·] (plus[·] ☐₄ ☐₂) ☐₃)
- el-wf ε ᐅ 𝕌 ᐅ ℕ ᐅ El (vect[·] Z ☐₁) ᐅ El (vect[·] ☐₁ ☐₂) ⊦ vappendZ[·, ☐₃, ☐₂, ☐₁, ☐₀] : (vappend[·] Z ☐₃ ☐₂ ☐₁ ☐₀) ≡ ☐₀ ∈ El (vect[·] ☐₂ ☐₃)
- el-wf ε ᐅ ℕ ᐅ 𝕌 ᐅ ℕ ᐅ El (vect[·] (S ☐₂) ☐₁) ᐅ El (vect[·] ☐₁ ☐₂) ⊦ vappendS[·, ☐₄, ☐₃, ☐₂, ☐₁, ☐₀] : (vappend[·] (S ☐₄) ☐₃ ☐₂ ☐₁ ☐₀) ≡ (☐₁ .π₁, vappend[·] ☐₄ ☐₃ ☐₂ (☐₁ .π₂) ☐₀) ∈ El (vect[·] (plus[·] (S ☐₄) ☐₂) ☐₃)
- el-wf ε ᐅ ℕ ᐅ 𝕌 ᐅ ℕ ᐅ ℕ ᐅ El (vect[·] ☐₁ ☐₂) ᐅ El (vect[·] ☐₁ ☐₃) ᐅ El (vect[·] ☐₅ ☐₄) ⊦ vappendAssoc[·, ☐₆, ☐₅, ☐₄, ☐₃, ☐₂, ☐₁, ☐₀] : (vappend[·] (plus[·] ☐₆ ☐₄) ☐₅ ☐₃ (vappend[·] ☐₆ ☐₅ ☐₄ ☐₀ ☐₂) ☐₁) ≡ (vappend[·] ☐₆ ☐₅ (plus[·] ☐₄ ☐₃) ☐₀ (vappend[·] ☐₄ ☐₅ ☐₃ ☐₂ ☐₁)) ∈ El (vect[·] (plus[·] ☐₆ (plus[·] ☐₄ ☐₃)) ☐₅)
